@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&display=swap');
/* font-family: 'Fira Sans Condensed', sans-serif; (nombre productos) */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap');
/* font-family: 'PT Sans Caption', sans-serif; (categorias) */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
/* font-family: 'Lexend Deca', sans-serif; (footer) */
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
/* font-family: 'Kanit', sans-serif; (newsletter) */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* inicio header */
.headerSuperior {
    width: 100vw;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #004c97;
}

.headerSuperior p {
    color: white;
    font-family: 'Fira Sans Condensed', sans-serif;
    padding-top: 15px;
    font-size: 13px;
}

.headerMain {
    width: 100vw;
    height: 130px;
    background-color: whitesmoke;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 2%;
    padding-right: 5%;
}

.logoEmpresa {
    width: 8vw;
    align-items: center;
    background-color: whitesmoke;
}

.logoEmpresa img {
    height: 60px;
}

/* inicio buscador */
.searchBox {
    width: 35vw;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 2px solid grey;
    border-right: none;
    padding: 5px;
    height: 38px;
    border-radius: 8px 0 0 8px;
    outline: none;

}

.searchButton {
    width: 40px;
    height: 38px;
    padding-bottom: 5px;
    border: 1px solid #005BB9;
    background: #005BB9;
    text-align: center;
    color: whitesmoke;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.wrap {
    width: 25%;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

/* fin buscador  */

.iconosHeader {
    display: inline-flex;
    width: 20vw;
    gap: 10px;
    justify-content: space-around;
}

.iconosHeader p {
    font-size: 12px;
    text-align: center;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: bold;
}

.iconoUsuario {
    margin-left: 13px;
}

.iconoAyuda {
    margin-left: 5px;
}

.iconosHeader img {
    height: 25px;
    margin-top: 2vh;
}

header a {
    text-decoration: none;
}

header a:link {
    color: black;
}

header a:visited {
    color: black;
}

/* inicio barra de navegacion */
.navBar {
    width: 100vw;
    background: #DBD9D9;
    color: #FFFFFF;
    height: 35px;
    border-radius: 0px;
}

.navBar ul,
.navBar li {
    margin: 0 auto;
    padding: 0;
    list-style: none
}

.navBar ul {
    width: 90vw;
    display: flex;
    justify-content: space-between;
}

.navBar li {
    float: left;
    display: inline;
    position: relative;
}

.navBar a {
    display: block;
    line-height: 40px;
    padding: 0 14px;
    text-decoration: none;
    color: #000000;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 13px;
}

.navBar li a:hover {
    color: #FFFFFF;
    background: #3871aa;
    height: 35px;
}

.navBar input {
    display: none;
    margin: 0;
    padding: 0;
    height: 35px;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

.navBar label {
    display: none;
    line-height: 30px;
    text-align: center;
    position: absolute;
    left: 35px
}

.navBar label:before {
    font-size: 1.6em;
    content: "\2261";
    color: black;
    margin-left: 20px;
}

/* inicio banner main */

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.mainBanner img {
    width: 100vw;
}

.inferiorBanner {
    display: flex;
    justify-content: space-between;
}

.imgInferiorBanner {
    width: 33vw;
    background-color: #F4F4F4;
    margin-top: 5px;

}

.imgInferiorBanner img {
    width: 20vw;
}

/* inicio productos main */

.titulo-linea {
    font-family: 'Kanit', sans-serif;
    margin-top: 50px;
    margin-left: 15vh;
    display: flex;
    flex-flow: row wrap;
}

.titulo-linea:after {
    position: relative;
    margin-left: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    flex-grow: 1;
    content: '';
    bottom: 5px;
}

.productosContainer {
    width: 100vw;
    height: 40vw;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    padding: 5vw;
    gap: 1%;
}

.producto {
    width: 17vw;
    min-width: 200px;
    height: 270px;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    margin-bottom: 1%;
}

.producto img {
    width: 10vw;
    min-width: 180px;
}

.producto p {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1px;
    padding-top: 20px;
    margin-bottom: 0px;
}

.textoTachado {
    text-decoration: line-through;
    color: gray;
    font-size: smaller;
}

.producto p b {
    color: red;
    font-weight: 400px;
    font-size: 15px;
}

.producto p small {
    font-size: 12px;
    color: rgb(119, 119, 119);
}

/* inicio grilla imagenes */
.grillaContainer {
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
    padding-left: 10vw;
    padding-right: 10vw;
}

.grillaContainer img {
    width: 23vw;
    min-width: 260px;
}

.bannerEnlace {
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    padding-left: 10vw;
    padding-right: 10vw;
}

.bannerEnlace img {
    width: 70vw;
    height: 250px;
    min-width: 800px;
}

/* newsletter registro*/
.newsletter {
    width: 100vw;
    height: 300px;
    background-color: #004080;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.newsletter h5 {
    color: white;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    padding-top: 35px;
    margin-bottom: -20px;
}

.newsletter p {
    font-family: 'Kanit', sans-serif;
    color: white;
    text-align: center;
    padding-top: 20px;
}

#newsletterOfertas {
    font-size: 40px;
    margin-bottom: -10px;
}

/* box suscripcion newsletter */

.newsletterSubs {
    width: 45%;
    height: 20%;
    margin-top: 25px;
}

.form-control {
    height: 40px;
    background: whitesmoke;
    border-radius: 10px 10px 10px 10px;
}

.btn {
    height: 40px;
    width: 60px;
    border-radius: 0 10px 10px 0;
    background: whitesmoke;
}

.btn svg {
    height: 30px;
    width: 25px;
}

/* inicio footer */
Footer {
    width: 100vw;
    background-color: #d6d6d6;
    padding-top: 30px;
}

.footerContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 3%;
}

.footerContainer div {
    width: 150px;
}

.footerContainer h4 {
    font-family: 'Lexend Deca', sans-serif;
    color: #004080;
    text-align: start;
    font-weight: bold;
    margin-left: 30px;
    font-size: 16px;
}

.mediosDePago h4 {
    font-family: 'Lexend Deca', sans-serif;
    color: #004080;
    text-align: start;
    font-weight: bold;
    font-size: 16px;
    width: 130px;
}

.mediosDePago div {
    margin-left: 25px;
}

.categoriasFooter ul li a {
    color: #002e5c;
    text-decoration: none;
    font-family: 'Lexend Deca', sans-serif;
    text-align: start;
    font-size: 13px;
}

.contactanosFooter ul li {
    color: #004080;
    font-family: 'Lexend Deca', sans-serif;
    text-align: start;
    font-size: 13px;
    margin-left: -10%;
}

.footerContainer img {
    height: 20px;
}

.socialNetworksFooter {
    text-align: center;
}

.socialNetworksFooter img {
    height: 35px;
}

footer ul li {
    list-style: none;
}

.copyright {
    background-color: #acaaaa;
    margin-bottom: -35px;

}

.copyright p {
    font-size: small;
    text-align: center;

}

/* inicio pagina login */

.loginMain {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1%;
}

.loginFormContainer,
.registerFormContainer {
    height: 470px;
    width: 400px;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: whitesmoke;
}

.loginFormContainer p,
.registerFormContainer p {
    font-family: 'Kanit', sans-serif;
    color: #004080;
}

.d-flex a {
    text-decoration: none;
}

.text-center a {
    text-decoration: none;
}

.text-center a img {
    height: 32px;
}

.btnContainer {
    padding-top: 30px;
    padding-bottom: 30px;
}

.btn2 {
    height: 40px;
    width: 100%;
    border-radius: 0px 0px 0px 0px;
    border-color: whitesmoke;
    background: #004080;
    color: whitesmoke;
}

/* inicio lista de productos */

.h2Grilla {
    height: 120px;
    padding-top: 40px;
    padding-left: 65px;
}

.h2Grilla h2 {
    font-family: 'Kanit', sans-serif;
    color: #004080;
}

.paginaProductosMain {
    display: flex;
    flex-wrap: nowrap;
}

.subCategoria {
    height: 100%;
    width: 10vw;
    min-width: 150px;
    margin-left: 3vw;
    margin-top: 25px;
    font-family: 'Lexend Deca', sans-serif;
}

.subCategoria h6 {
    color: #004080;
}

.subCategoria ul li {
    list-style: none;
    font-weight: lighter;
    padding-bottom: 15px;
}

.subCategoria ul li a {
    text-decoration: none;
    font-family: 'Lexend Deca', sans-serif;
    text-align: start;
    font-size: 13px;
}

.subCategoria ul li a:link {
    color: black;
}

.subCategoria ul li a:visited {
    color: black;
}

.subCategoria ul li a:hover {
    color: #004080;
    font-size: 16px;
}

/* inicio container productos */

.productosDesplegable {
    width: 100%;
    height: 50px;
    padding-top: 20px;
    padding-left: 35px;
    padding-bottom: 20px;
}

.categoriaDesplegable {
    display: none;
}

.containerGrilla {
    width: 80vw;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    gap: 1%;
    padding-top: 10px;
    padding-left: 5px;
}

.btn2Container {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 300px;
    margin-left: 36%;
}

/* comienzo maquetacion responsive */

@media(max-width: 1024px) {

    /* barra de navegacion <=1024px  */
    .navBar ul {
        background: #DBD9D9;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: 3;
        height: auto;
        display: none
    }

    .navBar ul.sub-menus {
        width: 100%;
        position: static;
    }

    .navBar ul.sub-menus a {
        padding-left: 30px;
    }

    .navBar li {
        display: block;
        float: none;
        width: auto;
    }

    .navBar input,
    .navBar label {
        position: absolute;
        top: 0;
        left: 0;
        display: block
    }

    .navBar input {
        z-index: 4
    }

    .navBar input:checked+label {
        color: black
    }

    .navBar input:checked+label:before {
        content: "\00d7"
    }

    .navBar input:checked~ul {
        display: block
    }

    .navBar {
        position: relative
    }

    /* productos <=1024px  */

    .productosContainer {
        width: 100vw;
        height: 70vw;
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        justify-content: center;
        gap: 5%
    }

    .producto {
        width: 17vw;
        min-width: 200px;
        height: 270px;
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        margin-top: 20px;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    }

    /* inicio productos pagina grilla */
    .subCategoria {
        height: 100%;
        width: 5vw;
        min-width: 130px;
        margin-top: 25px;
        font-family: 'Lexend Deca', sans-serif;
    }

    .categoriaDesplegable {
        display: none;
    }

    .containerGrilla {
        width: 80vw;
        height: auto;
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        justify-content: center;
        gap: 1%;
        padding-top: 10px;
        padding-left: 5px;
    }

    .btn2Container {
        width: 300px;
        margin-left: 30%;
    }
}


@media(max-width: 768px) {

    /* header  <= 768 */

    .searchBox {
        display: none;
    }

    .headerMain {
        display: flex;
        flex-flow: column-reverse nowrap;
    }

    .logoEmpresa {
        align-content: center;
        justify-content: center;
        padding-right: 35vw;
        padding-bottom: 20px;
    }

    .iconosHeader {
        display: flex;
        flex-flow: row nowrap;
        width: 103vw;
        height: 4vh;
        gap: 0;
        background-color: #DBD9D9;
    }

    .iconosHeader div {
        width: 100%;
        border: 1px solid grey;
    }

    .iconosHeader p {
        text-align: center;
        color: #000000;
        font-family: 'PT Sans Caption', sans-serif;
        font-size: 13px;
        font-weight: lighter;
        padding-top: 4px;
    }

    .iconosHeader p:hover {
        color: white;
    }

    .iconosHeader div:hover {
        background-color: #3871aa;
        color: white;
    }

    .iconosHeader img {
        display: none;
    }

    .mainBanner {
        display: none;
    }

    .inferiorBanner {
        display: none;
    }

    /* main <= 768  */

    .bannerEnlace {
        display: none;
    }

    .productosContainer {
        height: 85vw;
    }

    /* footer <= 768  */
    .footerContainer {
        height: flex;
    }

    .socialNetworksFooter {
        padding-bottom: 10px;
    }

    /* inicio pagina login-register  */
    .loginFormContainer,
    .registerFormContainer {
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .subCategoria {
        display: none;
    }

    .containerGrilla {
        width: 100vw;
        height: auto;
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        justify-content: center;
        gap: 1%;
        padding-top: 10px;
        padding-left: 5px;
    }

    .categoriaDesplegable {
        display: initial;


    }

    .grillaProductos {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        width: 100vw;
        gap: 1vw;
        padding-top: 20px;
        padding-left: 1vw;
    }

}


@media(max-width: 480px) {

    /* header <=480px  */
    .logoEmpresa {
        padding-right: 70%;
    }

    /* productos <=480px  */
    .titulo-linea {
        margin-left: 5vw;

    }

    .productosContainer {
        width: 100vw;
        height: 1300px;
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        justify-content: center;
        gap: 5%
    }

    .producto {
        width: 17vw;
        min-width: 200px;

        height: 270px;

        display: flex;
        flex-flow: column wrap;
        align-content: center;
        margin-top: 5vh;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    }

    .newsletter {
        display: none;
    }

    .mediosDePago {
        padding-bottom: 20px;
    }

    .btn2Container {
        width: 300px;
        margin-left: 15%;
    }
}

@media(max-width: 350px) {
    .btn2Container {
        width: 300px;
        margin-left: 3%;
    }

    .categoriaDesplegable {
        margin-bottom: 10px;
    }
}
